fastapi
uvicorn
psycopg2-binary
SQLAlchemy
pydantic
celery
pgvector
uuid
redis
langchain
langchain-community
dotenv
sentence-transformers
hf_xet
tiktoken
alembic
python-multipart
pypdf2
passlib[bcrypt] 
bcrypt==4.0.1
python-jose
pydantic[email]